.sidebar{
    flex: 1;
    height:calc(100vh - 50px);
    position: sticky;
    top: 50px;
    -webkit-box-shadow: 0px 10px 13px -7px
    #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
   box-shadow: 0px 10px 13px -7px #000000, 
   5px 5px 15px 5px rgba(0,0,0,0);
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: rgb(170, 169, 169);
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: #c7eeff;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 15px !important;
}