.widgetSm {
    flex: 1;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    padding: 20px;
    margin-right: 20px;
}

.widgetSmHead {
    padding: 10px 5px;
    margin: 0;
}

.wdgetSmTitle {
    font-size: 22px;
    font-weight: 600;
    width: 100%;
}

.widgetSmList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px 5px;
    border-radius: 10px;
}

.widgetSmImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.widgetSmUserInfo {
    display: flex;
    flex-direction: column;
}

.widgetSmUsername {
    font-weight: 600;
    cursor: pointer;
}

.widgetSmUserJobTitle {
    font-weight: 300;
}

.widgetSmButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.widgetSmIcon {
    font-size: 15px;
    margin: 5px;
}