
.first-color-background { 
	background: #f1fcfd; 
}
.first-color-font { 
	color: #f1fcfd; 
}
	
.second-color-background { 
	background: #c7eeff; 
}

.second-color-font { 
	color: #c7eeff; 
}

.third-color-background { 
	background: #4d6de3; 
}

.third-color-font { 
	color: #4d6de3; 
}

.fourth-color-background { 
	background: #393737; 
}

.fourth-color-font { 
	color: #393737; 
}